main .embed {
  width: unset;
  text-align: center;
  max-width: 1200px;
  margin: 32px auto; 
}

main .nodisplay{
	max-height: 0px;
	padding: 0;
}

main .embed-fullscreen{
	max-width: 60%;
	left: 6%; 
	width: 600%; 
	padding: 0;
	min-height: 1300px; 
	position: relative;
}

main .embed-learningmanager div{
	
	left: 20%; 
	width: 60%; 
	position: relative;
}

main .embed-fullscreen iframe{
	max-width: 80%;
	left: 6%; 
	width: 100%; 
	padding:0;
	min-height: 1300px; 
	position: relative;
}

main .embed > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid !important; 
	width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	align-items: end;
    grid-gap: 60px;

}

main .embed > div > ul > li {
	font-size:20px;
	display: inline-block;


}

main .embed-workfront{
	max-width: 100%;
/*	min-height: 1000px;*/
}

main .embed-video{
	max-width: 100%;
/*	min-height: 1000px;*/
}

.embed-wrapper{
	max-width: 100% !important;
}
#global-navigation{
	visibility:hidden;
}

main .embed > div {
  display: flex;
  justify-content: center;
}

main .embed.embed-twitter .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

main .embed .embed-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

main .embed .embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main .embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .embed .embed-youtube{
	max-width: 60%;
	left: 20%;
	position: relative;
}

main .embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}

main .embed .embed-placeholder-play button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}

.embed-container{
	text-align: center;
}


